cmake protobuf-devel leveldb-devel snappy-devel opencv-devel hdf5-devel protobuf-compiler atlas-devel atlas-*-devel atlas-static git python3-devel python3-pip python3-numpy automake byacc redhat-lsb-core cmake python3-scipy gflags-devel glog-devel lmdb-devel swig graphviz libxslt-devel libxml2-devel gcc-gfortran python3-yaml python3-nose python-pip python-numpy
